body {
    font-family: "Montserrat", sans-serif;
}

#signIn {
    background-color: white;
    position: absolute;
    right: 0px;
    width: 75%;
}

#intro {
    background-color: #19509f;
    color: white;
    position: absolute;
    left: 0px;
    width: 25%;
}

.form {
    display: block;
}

h2 {
    font-size: 20px;
}

span {
    font-size: 12px;
}