body {
    font-family: "Montserrat", sans-serif;
}

#whole {
    width: 1000px;
    height: 500px;
    position: fixed;
    box-shadow: 1px 4px 100px grey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signIn {
    background-color: white;
    position: fixed;
    right: 0;
    width: 65%;
    height: 500px;
}

#intro {
    background-color: #19509f;
    color: white;
    position: absolute;
    left: 0;
    width: 35%;
    height: 500px;
    text-align: left;
}

#text {
    margin-top: 160px;
    margin-left: 60px;
    margin-right: 80px;
}

.form {
    display: block;
}

h2 {
    font-size: 20px;
    margin: 0;
}

span {
    font-size: 12px;
}